*,
*::before,
*::after {
  -webkit-box-sizing: borderbox;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100vw;
  padding: 2rem;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.tile1 {
  background-color: darkgray;
  background-image: url("../img/pic1.jpg");
  background-size: cover;
  height: 50vh;
  width: 100vw;
  position: relative;
  display: block;
  min-height: 300px;
}

.overlay1 {
  background-color: #222;
  height: 20vh;
  min-height: 100px;
  width: 80vw;
  position: absolute;
  bottom: 7.5%;
  left: 7.5%;
  color:  white;
  padding: .66em;
  padding-top: 0em;
}

.pic2 {
  background-image: url("../img/pic2.jpg");
  background-repeat: no-repeat;
  width: 25vw;
  height: 18vh;
  min-height: 100px;
  background-size: cover;
  background-position: right;
  position: relative;
}

.pic3 {
  background-image: url("../img/pic3.jpg");
  background-repeat: no-repeat;
  width: 25vw;
  min-height: 100px;
  height: 18vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.tile2,
.tile3 {
  display: block;
  height: 18vh;
  min-height: 100px;
  width: 100vw;
  position: relative;
}

.content2 {
  position: absolute;
  z-index: 10;
  top: -12%;
  left: 27%;
  padding: .5rem;
  background-size: contain;
}

.content3 {
  position: absolute;
  z-index: 10;
  top: -12%;
  left: 27%;
  padding: .5rem;
  background-size: contain;
}

.tile2 {
  background-color: darkblue;
  color: white;
}

.tile3 {
  background-color: teal;
  color: white;
}

.headline {
  font-size: 1.25rem;
  padding: .5em;
}

.sub-header {
  position: relative;
  left: 3%;
}

#menu{
  max-height: 1.5em;
  max-width: 3em;
  float: right;
  margin: .5em;
}

#mag-glass {
  max-height: 1.5em;
  max-width: 1.5em;
  float: right;
  margin: .5em;
}

#logo {
  max-width: 12em;
  max-height: 3em;
  margin-top: .5em;
}
